    <section class="section section-components py-5" id="what_is_al-anon">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h2 class="mb-3">
              What is Al-Anon?
            </h2>
            <div>
              <%= image_tag( "afg/got_it_female_3.svg", style: "width: 80px; float: left; padding-right: 10px", class: "img-fluid" ) %> 
              <p class="lead">The Al-Anon Family Groups are a fellowship of relatives and friends of alcoholics who share their experience, strength, and hope in order to solve their common problems.  We believe alcoholism is a family illness and that changed attiudes can aid recovery.</p>
              <p class="lead">Al-Anon is not allied with any sect, denomination, political entity, organization, or institution; does not engage in any controversy; neither endorses nor opposes any cause.  There are no dues for membership.  Al-Anon is self-supporting through its own voluntary contributions.</p>
              <p class="lead">Al-Anon has but one primary purpose:  to help families of alcoholics.  We do this by practicing the Twelve Steps, by welcoming and giving comfort to families of alcoholics, and by giving understanding and encouragement to the alcoholic.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

