    <section class="section section-components py-2" id="is_al-anon_for_you">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <h2 class="mb-3">
              Is Al-Anon For You?
            </h2>
            <div>
              <%= image_tag( "afg/perplexed_male_3.svg", style: "width: 80px; float: left; padding-right: 10px", class: "img-fluid" ) %> 
              <p class="lead">If someone close to you, such as a family member, friend, coworker, or neighbor, has or has had a drinking problem, Al-Anon may help.  The following questions will help you decide whether or not Al-Anon is for you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section section-components bg-secondary">
      <div class="container">
        <div class="row justify-content-left">
          <div class="col-lg-6">
            <ol start="1">
              <li>Do you worry about how much someone else drinks?</li>
              <li class="mt-2">Do you have money problems because of someone else's drinking?</li>
              <li class="mt-2">Do you tell lies to cover up for someone else's drinking?</li>
              <li class="mt-2">Do you feel that if the drinker cared about you, he or she would stop drinking to please you?</li>
              <li class="mt-2">Do you blame the drinker's behavoir on his or her companions?</li>
              <li class="mt-2">Are plans frequently upset or canceled or meals delayed because of the drinker?</li>
              <li class="mt-2">Do you make threats, such as, "If you don't stop drinking, I'll leave you"?</li>
              <li class="mt-2">Do you secretly try to smell the drinker's breath?</li>
              <li class="mt-2">Are you afraid to upset someone for fear it will set off a drinking bout?</li>
              <li class="mt-2">Have you been hurt or embarrassed by a drinker's behavoir?</li>
            </ol>
          </div>
          <div class="col-lg-6">
            <ol start="11">
              <li>Are holidays and gatherings spoiled because of drinking?</li>
              <li class="mt-2">Have you considered calling the police for help in fear of abuse?</li>
              <li class="mt-2">Do you search for hidden alcohol?</li>
              <li class="mt-2">Do you ever ride in a car with a driver who has been drinking?</li>
              <li class="mt-2">Have you refused social invitations out of fear or anxiety?</li>
              <li class="mt-2">Do you feel like a failure because you can't control the drinking?</li>
              <li class="mt-2">Do you think that if the drinker stopped drinking, your other problems would be solved?</li>
              <li class="mt-2">Do you ever threaten to hurt yourself to scare the drinker?</li>
              <li class="mt-2">Do you feel angry, confused, or depressed most of the time?</li>
              <li class="mt-2">Do you feel there is no one who understands your problems?</li>
            </ol>
        </div>
      </div>
    </section>
    <section class="section section-components py-2">
      <div class="container">
        <div class="row justify-content-center">
           <div class="col-lg-12">
             <div>      
              <%= image_tag( "afg/light_bulb_female.svg", style: "width: 100px; float: left; padding-right: 10px", class: "img-fluid" ) %> 
              <p class="lead">If you have answered yes to any of these questions, Al-Anon or Alateen may be able to help.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

