<footer class="footer bg-white">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            © 2019 Sober Web Designs
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <%= link_to "FAQ's", '#', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Meetings", '#', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Events", '#', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Contact Us", '#', class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
