<footer class="footer bg-white">
    <div class="container">
      <hr>
      <div class="row align-items-center justify-content-md-between">
        <div class="col-md-6">
          <div class="copyright">
            © 2019 Sober Web Designs
          </div>
        </div>
        <div class="col-md-6">
          <ul class="nav nav-footer justify-content-end">
            <li class="nav-item">
              <div class="nav-link" data-toggle="tooltip" data-placement="top" title="Coming soon">FAQ's</div>
              <%# link_to "FAQ's", '#', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Meetings", meetings_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <div class="nav-link" data-toggle="tooltip" data-placement="top" title="Coming soon">Events</div>
              <%# link_to "Events", '#', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <div class="nav-link" data-toggle="tooltip" data-placement="top" title="Coming soon">Contact Us</div>
              <%# link_to "Contact Us", '#', class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
