<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--not-bottom">
      <div class="container">
        <!--a class="navbar-brand mr-lg-5" href="./index.html">
          <%# image_tag( "afg/qafg_logo.png", style: "width: 200px" ) %>
          Home
        </a-->
        <ul class="navbar-nav"><li>
        <%= link_to '#', class:"nav-link-brand nav-link-icon" do %>
          <i class="fa fa-home"></i> 
          <span class="nav-link-inner--text">Home</span>
        <% end %>
        </li></ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
          <div class="navbar-collapse-header">
            <div class="row">
              <div class="col-6 collapse-brand">
                <a href="./index.html">
                  <img src="./assets/img/brand/blue.png">
                </a>
              </div>
              <div class="col-6 collapse-close">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item">
                <%# link_to '#', class: "nav-link" do %>
                <div class="nav-link">
                  <span class="nav-link-inner--text" data-toggle="tooltip" data-placement="bottom" title="Coming soon">FAQ's</span>
                </div>
                <%#end %>
            </li>
            <li class="nav-item">
                <%= link_to '#', class: "nav-link" do %>
                  <span class="nav-link-inner--text">Meetings</span>
                <% end %>
           </li>
            <li class="nav-item">
                <%# link_to '#', class: "nav-link" do %>
                <div class="nav-link">
                  <span class="nav-link-inner--text" data-toggle="tooltip" data-placement="bottom" title="Coming soon"`>Events</span>
                </div>
                <%#end %>
           </li>
            <li class="nav-item">
                <%# link_to '#', class: "nav-link" do %>
                <div class="nav-link">
                  <span class="nav-link-inner--text" data-toggle="tooltip" data-placement="bottom" title="Coming soon">Contact Us</span>
                </div>
                <%#end %>
           </li>
          </ul>
        </div>
      </div>
    </nav>
